<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/static/base.css" />
  <link rel="stylesheet" href="/static/editormd/css/editormd.min.css" />
</head>
<body>
 <header>
    <div class="pull-right">
      <button class="btn btn-primary" id="save">保存</button>
      <a href="/item/show?id={{item_id}}">返回</a>
    </div>
  </header>
<div id="layout">
  <div class="btns">
    <div style="margin: 15px 0;">
      <input type="hidden" name="page_id" id="page_id" value="{{page.page_id}}">
      <input type="hidden" name="item_id" id="item_id" value="{{item_id}}">
      <label for="page_title">请输入标题：</label><input type="text" name="page_title" id="page_title" style="width: 200px;" placeholder="请输入页面标题" value="{{page.page_title}}">
      <label for="cat_id">上级目录：</label>
       <select name="cat_id" id="cat_id" tabindex="0">
         <option value="0">无</option>
         {% for k, v in pairs(catalog) do %}
         <option value="{{v.cat_id}}" {%if page.cat_id == v.cat_id then %}selected {% end %}>{{v.cat_name}}</option>
         {% end %}
       </select>
      <label for="page_title">排序号：</label><input onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" type="text" name="order" id="order" placeholder="请输入排序号" value="{{page.order}}">
    </div>
    <button id="api-doc">插入API接口模板</button>
    <button id="database-doc">插入数据字典模板</button>
  </div>
  <div id="editormd">
    <textarea style="display:none;" id="page_content">{{page.page_content}}</textarea>
  </div>
</div>
  <textarea id="api-doc-templ" style="display:none">

**简要描述：** 

- 用户注册接口

**请求URL：** 
- ` http://xx.com/api/user/register `
  
**请求方式：**
- POST 

**参数：** 

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|username |是  |string |用户名   |
|password |是  |string | 密码    |
|name     |否  |string | 昵称    |

 **返回示例**

``` 
  {
    "error_code": 0,
    "data": {
      "uid": "1",
      "username": "12154545",
      "name": "吴系挂",
      "groupid": 2 ,
      "reg_time": "1436864169",
      "last_login_time": "0",
    }
  }
```

 **返回参数说明** 

|参数名|类型|说明|
|:-----  |:-----|-----                           |
|groupid |int   |用户组id，1：超级管理员；2：普通用户  |

 **备注** 

- 更多返回错误代码请看首页的错误代码描述
  </textarea>
<textarea id="database-doc-templ" style="display:none">
-  用户表，储存用户信息

|字段名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|username |是  |string |用户名   |
|password |是  |string | 密码    |
|name     |否  |string | 昵称    |

- 备注：无
</textarea>
<script src="/static/jquery.min.js"></script>
<script src="/static/editormd/editormd.min.js"></script>
<script src="/static/editormd/plugins/image-dialog/image-dialog.js"></script>
<script src="/static/editormd/plugins/link-dialog/link-dialog.js"></script>
<script src="/static/editormd/plugins/preformatted-text-dialog/preformatted-text-dialog.js"></script>
<script src="/static/editormd/plugins/code-block-dialog/code-block-dialog.js"></script>
<script src="/static/editormd/plugins/html-entities-dialog/html-entities-dialog.js"></script>
<script src="/static/editormd/plugins/goto-line-dialog/goto-line-dialog.js"></script>
<script src="/static/editormd/plugins/table-dialog/table-dialog.js"></script>
<script src="/static/editormd/plugins/reference-link-dialog/reference-link-dialog.js"></script>
<script type="text/javascript">
var editormd;
$(function() {
  editormd = editormd("editormd", {
    width   : "90%",
    height  : 1000,
    syncScrolling : "single",
    path    : "/static/editormd/lib/",
    placeholder: "本编辑器支持Markdown编辑，左边编写，右边预览"
  });
  $("#api-doc").click(function() {
    var tmpl = $("#api-doc-templ").text();
    editormd.insertValue(tmpl);
  });
  $("#database-doc").click(function() {
    var tmpl = $("#database-doc-templ").text();
    editormd.insertValue(tmpl);
  });
  var saving = false;
  $("#save").click(function() {
    if(saving) return false;
    var page_id = $("#page_id").val() || 0;
    var item_id = {{item_id}};
    var cat_id = $("#cat_id").val();
    var page_title = $("#page_title").val()||'无标题';
    var page_content = $("#page_content").val();
    var order = $("#order").val() || 2;
    saving = true;
    $.post(
      "/page/save", {
        page_id:page_id,
        "cat_id": cat_id,
        "order": order,
        "page_content": page_content,
        "page_title": page_title,
        "item_id": item_id,
        "author_uid":1
      },
      function(data) {
        saving = false;
        if (data.success == true) {
          alert('成功');
          if(page_id!=0){
            window.location.href = '/item/show?id='+item_id+"&page_id="+page_id;
          }
          window.location.href = '/item/show?id='+item_id;
        } else {
          alert('保存失败');
        }
      },
      'json'
    )
  });

});
</script>
</body>
</html>