
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>sdf ShowDoc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    @charset "utf-8";
  body {
    font:14px/1.5 "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
  }
    </style>
      <script type="text/javascript">
      var DocConfig = {
          host: window.location.origin,
          app: "/",
          pubile:"/static",
      }

      DocConfig.hostUrl = DocConfig.host + "/" + DocConfig.app;
      </script>

  </head>
  <body>
<link rel="stylesheet" href="/static/css/item/show.css" />


<div class="doc-head row" >
  <div class="left "><h2>{{page.item_name}}</h2></div>
  <div class="right">
    <ul class="inline pull-right">

      <li>
          <div class="btn-group ">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
              项目
              <span class="caret"></span>
            </a>
          <ul class="dropdown-menu">
          <!-- dropdown menu links -->
            <li><a href="#" id="share">分享</a></li>
            <!--  <li><a href="#{{page.item_id}}">导出</a></li>

             <li><a href="#{{page.item_id}}">修改信息</a></li>          
              <li><a href="#{{page.item_id}}">成员管理</a></li>
              <li><a href="#{{page.item_id}}">转让</a></li>
              <li><a href="#{{page.item_id}}">删除</a></li> -->
            <li><a href="/item">更多项目</a></li>
          </ul>
      </li>
      
    </ul>
    </div>  
  </div>
</div>

<div class="doc-body row">
  <!-- 左侧栏菜单 -->
    <div class="doc-left span3 bs-docs-sidebar pull-left">
        <form class="form-search text-center" action="" method="get">
          <div class="input-append search-input-append">
            <i class="icon-blank"></i>
            <input type="text" name="keyword" class="search-query search-query-input" value="">
            <input type="hidden" name="item_id" value="{{page.item_id}}">
            <button type="submit" class="btn"><i class="icon-search"></i></button>
          </div>
        </form>
      <ul class="nav nav-list bs-docs-sidenav">
      {% for k, v in pairs(item.pages) do %}
      <li ><a href="/page/show?page_id={{v.page_id}}" data-page-id="{{v.page_id}}" ><i class="icon-blank"></i>{{v.page_title}}</a></li>
      {% end %}
      {% for k, v in pairs(item.catalog) do %}
        <li><a href="#"><i class="icon-chevron-right"></i>{{v.cat_name}}</a>
            <ul class="child-ul nav-list hide">
              {% for k, v in pairs(v.pages) do %}
              <li><a href="/page/show?page_id={{v.page_id}}" data-page-id="{{v.page_id}}" >{{v.page_title}}</a></li>
              {% end %}
            </ul>
        </li>
      {% end %}
      </ul>
      <!-- 新建栏 -->
      {% if is_show then %}
      <div class="doc-left-newbar">

        <div><a href="/page/edit?item_id={{page.item_id}}" id="new-like"><i class="icon-plus"></i>&nbsp;新建页面</a></div>
          <div><a href="/item/catalog?item_id={{page.item_id}}" id="dir-like" ><i class="icon-folder-open"></i>新建目录</a></div>
      </div>
      {% end %}

      <input type="hidden" id="item_id" value="{{page.item_id}}">
      <input type="hidden" id="page_id" value="">
      <input type="hidden" id="base_url" value="/">


    </div>
    <div class="doc-right  span12 ">
      <!-- 编辑栏 -->
      <div class='page-edit-link pull-right hide'>
      {% if is_show then %}
        <ul class="inline">
          <li><a href="" id="share-page" title="分享该接口访问地址给你的好友">分享</a></li>
          <!--   <li><a href="" id="copy-link" title="复制该接口到新接口">复制</a></li> -->
            <li><a href="" id="edit-link" title="编辑接口">编辑</a></li>
            <li><a href="" title="删除接口" id="delete-link">删除</a></li>
        </ul>
        {% end %}
      </div>
      <!-- 页面内容 -->
      <div class='iframe_content'>
        <iframe id="page-content" width="100%" scrolling="yes"  height="100%" frameborder="0" style=" overflow:visible; height:100%;" name="main"  seamless ="seamless"src=""></iframe>
      </div>

    </div>

   
  <script src="/static/js/common/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/common/showdoc.js"></script>

<!-- 分享项目框 -->
<div class="modal hide fade" id="share-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>分享</h3>
  </div>
  <div class="modal-body">
    <p>项目地址：<code>http://doc.star7th.com/index.php/{{page.item_id}}</code></p>
    <p>你可以复制地址给你的好友</p>
  </div>
</div>

<!-- 分享页面框 -->
<div class="modal hide fade" id="share-page-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>分享页面</h3>
  </div>
  <div class="modal-body">
    <p>页面地址：<code id="share-page-link"></code></p>
    <p>你可以复制地址给你的好友</p>
  </div>
</div>
<script src="/static/js/jquery.bootstrap-growl.min.js"></script>
<script src="/static/js/jquery.hotkeys.js"></script>

<script src="/static/js/item/show.js"></script>
  </body>
</html> 